.Rproj.user
.Rhistory
.RData
.DS_Store
*.xls
ggmapTemp.png
data-raw/pollresults*
data-raw/fed*
data-raw/pd308*
data-raw/*.zip
data-raw/to_wards
data-raw/gct
data-raw/prov_shapefile
data-raw/voting_location*
data-raw/2018_Toronto_Poll_By_Poll*
*VOTING_SUBDIVISION*
